.navbar {
  height: 10vh;
  width: 100vw;
  background: #1ea974;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px;
  position: sticky;
  top: 0;
  left: 0;
}
.nav-heading {
  color: rgb(246, 246, 246);
}
.navlink-div {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-right {
  display: flex;
  column-gap: 20vw;
}
.navlink {
  text-decoration: none;
  color: rgb(246, 246, 246);
  font-size: 18px;
  padding: 2px 4px;
  border-radius: 2px;
}
.navlink:hover {
  background: #b3ecbb;
  color: black;
  transition: 300ms;
}
.navlink-active {
  text-decoration: none;
  background: #d2ffd8;
  color: rgb(0, 74, 33);
  font-size: 18px;
  padding: 2px 4px;
  border-radius: 2px;
}
.nav-menu {
  display: none;
}

@media (max-width: 980px) {

  .navlink-div {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navlink {
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 16px;
  }
  .navlink-active {
    text-decoration: none;
    background: #d2ffd8;
    color: rgb(0, 74, 33);
    font-size: 16px;
    padding: 2px 4px;
    border-radius: 2px;
  }
  .nav-heading {
    color: rgb(246, 246, 246);
    font-size: 25px;
  }
  .nav-profile-pic {
    width: 30px;
  }
}

@media (max-width: 750px) {

  .navlink-div {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navlink {
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 14px;
  }
  .navlink-active {
    text-decoration: none;
    background: #d2ffd8;
    color: rgb(0, 74, 33);
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 2px;
  }
  .nav-heading {
    color: rgb(246, 246, 246);
    font-size: 20px;
  }
  .nav-profile-pic {
    width: 25px;
  }
  .nav-right {
    display: flex;
    column-gap: 15vw;
  }
  .navbar {
    height: 10vh;
    width: auto;
    background: #1ea974;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 55px;
  }
}

@media (max-width: 550px) {
  
  .navbar {
    height: 10vh;
    width: auto;
    background: #1ea974;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
  }
  .navlink-div {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .nav-heading {
    font-size: 18px;
  }
  .nav-profile-pic {
    width: 22px;
  }
}
