.home {
  min-height: 90vh;
  background: #efefef;
  padding: 50px 70px;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 10px rgb(212, 212, 212);
}

.heading {
  color: rgb(19, 19, 19);
}

.add-task-button {
  background: #1ea974;
  color: rgb(246, 246, 246);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1em;
}

.add-task-button:hover {
  background: #81f7c9;
  cursor: pointer;
  transition: 400ms;
}

