.auth-container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-heading {

}

.auth-input {
    
}